# API
API_URL=https://web.cvm.gov.br/sre-publico-cvm/rest/sitePublico/pesquisar/detalhado

# Configurações de execução
REQUEST_TIMEOUT=30
PAGE_SIZE=100
TARGET_DIRECTORY_NAME=results_cvmdata

# Regra de negócio (período)
LOOKBACK_MONTHS=3

# Scheduler - Ajustar para a frequência desejada
CRON_EXPRESSION=* * * * *